@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.course-interface {
    margin: 5px;
}

.folder-interface {
    margin: 5px;
}

.images {
    margin: 20px;
    border: 2px solid black;
}

.btn {
    color: white;
    background-color: #1762A7;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn:hover {
    color: white;
    background-color: rgb(45, 108, 167);
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    padding: 5px;
    outline: 2px solid #202020;
    margin: 5px;
    width: 5em;
}

input:focus {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}